<p>
  ようこそ、ながのCAKEへ！</br>
  このサイトは、ケーキ販売のECサイトになります。</br>
  会員でない方も商品の閲覧はできまできますが、</br>
  購入には会員登録が必要になります。
</p>

<h2>新着商品</h2>
<% @items.each do |item| %>
  <%= link_to item.name, public_item_path(item.id) %>
  

<% end %>
